<div
  class="bg-[url('/assets/images/bg.jpg')] bg-cover bg-center bg-no-repeat px-5 py-10 md:py-16 relative text-white"
>
  <!-- Overlay sombre semi-transparent pour lisibilité -->
  <div class="absolute inset-0 bg-black/50"></div>
  <!-- Contenu principal (au-dessus de l'overlay)   mx-auto marge horizontale() -->
  <div class="relative z-10 max-w-2xl mx-auto text-center">
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-6">
      Bienvenue au Mall
    </h2>
    <p class="text-lg md:text-xl mb-8 max-w-3xl mx-auto">
      Découvrez nos boutiques et produits
    </p>
    <div class="w-full max-w-md mx-auto my-4">
      <input
        type="text"
        placeholder="Rechercher un produit..."
        [(ngModel)]="searchTerm"
        class="text-black w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
      />
    </div>
  </div>
</div>
<!-- Filtre Catégorie + Total + Panier -->
<div
  class="flex flex-col sm:flex-row items-center justify-center mb-4 px-8 mt-4 gap-5"
>
  <!-- Gauche : catégorie + total -->
  <div class="flex items-center gap-4 flex-wrap">
    <!-- Sélecteur catégorie -->
    <select
      [(ngModel)]="selectedCategorieId"
      class="px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <option value="">Sélection Catégorie</option>
      <option *ngFor="let cat of categorie" [value]="cat._id">
        {{ cat.label }}
      </option>
    </select>

    <!-- Fourchette de prix -->
    <div class="flex items-center gap-2">
      <input
        type="number"
        [(ngModel)]="prixMin"
        placeholder="Prix min"
        class="w-28 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        min="0"
      />
      <span class="text-gray-500">—</span>
      <input
        type="number"
        [(ngModel)]="prixMax"
        placeholder="Prix max"
        class="w-28 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        min="0"
      />
    </div>
    <!-- Bouton optionnel pour reset -->
    <button
      (click)="resetFiltresPrix()"
      class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-lg text-sm"
    >
      Effacer prix
    </button>
    <!-- select boutique -->
     <select
      [(ngModel)]="selectedBoutiqueId"
      class="px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <option value="">Sélection Boutique</option>
      <option *ngFor="let bout of boutiques" [value]="bout._id" >
        {{ bout.nom }}
      </option>
    </select>
  </div>
  <!-- Droite : bouton Panier -->
  <div class="flex justify-center">
    <button
      routerLink="/panier"
      class="relative w-50 bg-blue-800 text-white px-6 py-2 rounded-lg hover:bg-blue-900 transition-colors font-semibold flex items-center justify-center gap-2"
    >
      <lucide-angular [img]="StoreIcon" size="18"></lucide-angular>
      Panier
      <!-- Badge -->
      <span
        *ngIf="panierService.getTotalCount() > 0"
        class="absolute -top-2 -right-2 bg-red-600 text-white text-xs w-5 h-5 flex items-center justify-center rounded-full"
      >
        {{ panierService.getTotalCount() }}
      </span>
    </button>
  </div>
</div>
<!-- Container grid pour toutes les cartes produits -->
<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-2 p-8 items-stretch"
>
  <app-card-produit
    *ngFor="let produit of produitsFiltres"
    [produit]="produit"
    [boutiqueNom]="getNomBoutique(produit.id_boutique)"
    [soldeActif]="getSoldeActif(produit)"
  ></app-card-produit>
</div>
