<div class="max-w-4xl mx-auto mt-6">
  <h2 class="text-xl font-bold mb-4">Mes commandes</h2>

  <div class="bg-white p-5 rounded-xl shadow">
    <table class="min-w-full text-sm">
      <thead class="bg-gray-50 uppercase text-gray-600">
        <tr>
          <th class="px-4 py-2 text-left">Produit</th>
          <th class="px-4 py-2 text-left">Prix</th>
          <th class="px-4 py-2 text-left">Durée</th>
          <th class="px-4 py-2 text-center">Date</th>
          <th class="px-4 py-2 text-center">Statut</th>
          <th class="px-4 py-2 ">Date expiration</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of commandes" class="border-t">
          <!-- Produits -->
          <td class="px-4 py-2">
            <ul class="space-y-1">
              <li *ngFor="let p of c.produits">
                {{ p.nom }}
                <span class="text-gray-500"> (x{{ p.qte }}) </span>
              </li>
            </ul>
          </td>

          <!-- Prix total de la commande -->
          <td class="px-4 py-2 r">
            {{ getTotalCommande(c.produits) | number }} Ar
          </td>
          <td class="px-4 py-2">
            <ul class="space-y-1">
              <li *ngFor="let p of c.produits">{{ p.duree }} jours</li>
            </ul>
          </td>
          <!-- Date de création -->
          <td class="px-4 py-2 text-center">
            {{ c.date_creation | date: "dd/MM/yyyy" }}
          </td>

          <!-- Statut -->
          <td class="px-4 py-2 text-center">
            <span
              class="px-2 py-1 rounded text-sm"
              [ngClass]="{
                'bg-yellow-100 text-yellow-700': c.statut.libelle === 'ENVOYER',
                'bg-green-100 text-green-700': c.statut.libelle === 'LIVRE',
                'bg-red-100 text-red-700': c.statut.libelle === 'ANNULE',
              }"
            >
              {{ c.statut.libelle }}
            </span>
          </td>
          <td class="text-center">
            <!-- <div class="text-xs text-gray-500"> -->
              Expire le {{ getDateExpiration(c) | date: "dd/MM/yyyy" }}
            <!-- </div> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
