<div
  class="bg-white shadow-md rounded-xl p-4 hover:shadow-xl transition-shadow duration-300"
>
  <!-- Image en haut -->
  <img
    [src]="produit.image"
    alt="{{ produit.nom }}"
    class="w-full h-40 object-cover rounded-lg mb-4"
  />
  <!-- Infos du produit -->
  <div class="flex flex-col gap-2">
    <h3 class="text-lg font-bold text-gray-800">{{ produit.nom }}</h3>
    <p class="text-sm text-gray-500">Boutique: {{ produit.boutiqueId }}</p>
    <p class="text-sm text-gray-500">Description: {{ produit.description }}</p>

    <div class="flex justify-between mt-2">
      <p class="text-sm font-semibold text-blue-600">
      {{ produit.prix }} Ar
      </p>
      <p class="text-sm font-semibold  bg-blue-950 text-white px-2 py-2 rounded-lg">
        Stock: {{ produit.stock }} Nbr
      </p>
    </div>

    <button
      class="mt-4 bg-slate-600 text-white rounded-md py-2 px-4 flex items-center justify-center gap-2 hover:bg-slate-700 transition-colors"
    >
      <!-- Icône panier -->
     <lucide-angular [img]="StoreIcon" size="18"></lucide-angular>

      Ajouter Panier
    </button>
  </div>
</div>
